<main class="main">
  <p ngNonBindable>This should not evaluate: {{ 1 + 1 }}</p>
  <button (click)="text = 'TESTE007'">Teste</button>
  <p appHighlight>
    {{text}}
  </p>
  <div class="content">
    <app-inheritance />
    <app-binding />
    <app-card>
      <div cardTitle>
        cardTitle
      </div>
      <div cardBody>
        cardBody
      </div>
      <div cardBody>
        cardBody
      </div>
      <!-- Angular compares against the ngProjectAs value instead of the element's identity -->
      <div cardBody ngProjectAs="cardHeader">
        cardHeader
      </div>
    </app-card>
    <todo-list />
    <sa-component-anatomy />
    <div dropzone class="dropzone-area">
      Exemplo de Attribute selector
    </div>
    <div class="hover-selector">
      Exemplo de Class selector
    </div>
    <span class="hover-selector">
      Exemplo de Class selector com :not pseudo-class
    </span>
    <h1>
      Exemplo de seletor de elementos do html
    </h1>
    <button disabled>
      Exemplo de seletor de elementos do html
    </button>
    <app-style-encapsulation />
    <app-inputs [inputRequired]="'Required'" [inputTransform]="10" [aliasInput]="'Alias'" [aliasInput2]="'Alias2'"
      [getSetter]="10" [writeOnlyInput]="10" />    
  </div>
</main>

<router-outlet />