<main class="main">
  <div class="content">
    <todo-list />
    <sa-component-anatomy />
    <div dropzone class="dropzone-area">
      Exemplo de Attribute selector
    </div>
    <div class="hover-selector">
      Exemplo de Class selector
    </div>
    <span class="hover-selector">
      Exemplo de Class selector com :not pseudo-class
    </span>
    <h1>
      Exemplo de seletor de elementos do html
    </h1>
    <button disabled>
      Exemplo de seletor de elementos do html
    </button>
  </div>
</main>

<router-outlet />